body{
    background-color: #1b3554;
    text-align: center;
}
h1{
    color: #c0e6fd;
    margin-top: 50px;
    padding-bottom: 20px;
}
h2{
    color: #c0e6fd;
    margin-top: 50px;
    padding-bottom: 20px;
}
img{
    width: 800px;
}